{% extends "base.html" %}
{% block content %}

<div class="container-fluid registration-container">
    <div class="d-flex justify-content-center align-items-center registration p-3">
        <div>
            <h2 class="text-center mt-5 mb-5">Login</h2>
            <form class="d-flex flex-column pb-5" action="{{ url_for('login') }}" method="post">
                
                <!-- Username -->
                <label for="username">Enter Your Username:</label>
                <input class="mb-3" 
                       type="text" 
                       id="username" 
                       name="username" 
                       pattern="^[a-zA-Z0-9]{8}$" 
                       title="Username must be exactly 8 characters with letters and numbers" 
                       required>
                    <span class="input-instructions">Tip: Use the fun username you created, like "StarKid23"!</span>

                
                <!-- Password -->
                <label for="password">Enter Your Password:</label>
                <input class="mb-3" 
                       type="password" 
                       id="password" 
                       name="password" 
                       pattern="^[a-zA-Z0-9]{8}$" 
                       title="Password must be exactly 8 characters with letters and numbers" 
                       required>
                    <span class="input-instructions">Tip: Enter your secret code, like "Magic1234"!</span>
                
                <!-- Submit Button -->
                <button class="mt-4 btn registration-btn" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}