{% extends "base.html" %}
{% block content %}

<div class="container-fluid registration-container">
    <div class="d-flex justify-content-center align-items-center registration p-3">
        <img src="/static/img/chain.jpg" alt="Chain Image" class="countdown-image registration-img login-img">
        <div>
            <h2 class="text-center mt-5 mb-5">Login</h2>
            <form class="d-flex flex-column pb-5" action="{{ url_for('login') }}" method="post">
                <label for="username">Username:</label>
                <input class="mb-3" type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <button class="mt-5 btn registration-btn" type="submit">Login</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}